<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d7fd5f5a73bf478eaff2c87b25c0b115 {
                    position: relative;
                    width: 750.0px;
                    height: 500.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d7fd5f5a73bf478eaff2c87b25c0b115" ></div>
        
</body>
<script>    
    
            var map_d7fd5f5a73bf478eaff2c87b25c0b115 = L.map(
                "map_d7fd5f5a73bf478eaff2c87b25c0b115",
                {
                    center: [52.5125147, 13.3735438],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_d7fd5f5a73bf478eaff2c87b25c0b115);

            

        
    
            var tile_layer_1d0d69713c674f15af94b4ba6b6f4a65 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d7fd5f5a73bf478eaff2c87b25c0b115);
        
    
            var marker_844646f6a28544aa955ce8e6926c645a = L.marker(
                [52.5219751, 13.4135357],
                {}
            ).addTo(map_d7fd5f5a73bf478eaff2c87b25c0b115);
        
    
            var icon_7f595a8c8cba48f2993144a6572154b0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_844646f6a28544aa955ce8e6926c645a.setIcon(icon_7f595a8c8cba48f2993144a6572154b0);
        
    
        var popup_1f5587fb967647e7a0e094e12ac4d9f3 = L.popup({"maxWidth": "100%"});

        
            var html_1ac4da69fc384d45a88a066aaf038c80 = $(`<div id="html_1ac4da69fc384d45a88a066aaf038c80" style="width: 100.0%; height: 100.0%;">Alexanderplatz!</div>`)[0];
            popup_1f5587fb967647e7a0e094e12ac4d9f3.setContent(html_1ac4da69fc384d45a88a066aaf038c80);
        

        marker_844646f6a28544aa955ce8e6926c645a.bindPopup(popup_1f5587fb967647e7a0e094e12ac4d9f3)
        ;

        
    
    
            marker_844646f6a28544aa955ce8e6926c645a.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f65e57886c0942a9b2f1b6c7cfe34526 = L.marker(
                [52.4821183, 13.3866162],
                {}
            ).addTo(map_d7fd5f5a73bf478eaff2c87b25c0b115);
        
    
            var icon_60771cdd5d34483093d4d4d6d0acdf12 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f65e57886c0942a9b2f1b6c7cfe34526.setIcon(icon_60771cdd5d34483093d4d4d6d0acdf12);
        
    
        var popup_a219805ee16e46aa974022acf355bb87 = L.popup({"maxWidth": "100%"});

        
            var html_53d72d4fa3c447b388c7a06188d3407e = $(`<div id="html_53d72d4fa3c447b388c7a06188d3407e" style="width: 100.0%; height: 100.0%;">Flughafen Tempelhof!</div>`)[0];
            popup_a219805ee16e46aa974022acf355bb87.setContent(html_53d72d4fa3c447b388c7a06188d3407e);
        

        marker_f65e57886c0942a9b2f1b6c7cfe34526.bindPopup(popup_a219805ee16e46aa974022acf355bb87)
        ;

        
    
    
            marker_f65e57886c0942a9b2f1b6c7cfe34526.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cadf930e62b74b5cacc486009aaebbfd = L.marker(
                [52.4821183, 13.3866162],
                {}
            ).addTo(map_d7fd5f5a73bf478eaff2c87b25c0b115);
        
    
            var icon_18be5a55593c402ab2e66c9b0913829c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_cadf930e62b74b5cacc486009aaebbfd.setIcon(icon_18be5a55593c402ab2e66c9b0913829c);
        
    
        var popup_dfa0c6bfbbd242a2b42713d392941ba3 = L.popup({"maxWidth": "100%"});

        
            var html_11aad6f4345f4acf8b8c3890b6aaaf62 = $(`<div id="html_11aad6f4345f4acf8b8c3890b6aaaf62" style="width: 100.0%; height: 100.0%;">Flughafen Tempelhof!</div>`)[0];
            popup_dfa0c6bfbbd242a2b42713d392941ba3.setContent(html_11aad6f4345f4acf8b8c3890b6aaaf62);
        

        marker_cadf930e62b74b5cacc486009aaebbfd.bindPopup(popup_dfa0c6bfbbd242a2b42713d392941ba3)
        ;

        
    
    
            marker_cadf930e62b74b5cacc486009aaebbfd.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_854e0a0c11ed40b088012c1d3254cca5 = L.marker(
                [52.5048212, 13.3325071],
                {}
            ).addTo(map_d7fd5f5a73bf478eaff2c87b25c0b115);
        
    
            var icon_734ebf358dd14867b68392c287d33c35 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_854e0a0c11ed40b088012c1d3254cca5.setIcon(icon_734ebf358dd14867b68392c287d33c35);
        
    
        var popup_bab6b0da23c441e0a87fc721b465849a = L.popup({"maxWidth": "100%"});

        
            var html_a6f73a01a88e4b68b43f0a7f7d65f2c8 = $(`<div id="html_a6f73a01a88e4b68b43f0a7f7d65f2c8" style="width: 100.0%; height: 100.0%;">Gedächtniskirche!</div>`)[0];
            popup_bab6b0da23c441e0a87fc721b465849a.setContent(html_a6f73a01a88e4b68b43f0a7f7d65f2c8);
        

        marker_854e0a0c11ed40b088012c1d3254cca5.bindPopup(popup_bab6b0da23c441e0a87fc721b465849a)
        ;

        
    
    
            marker_854e0a0c11ed40b088012c1d3254cca5.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d8285429e88f447fab30b88925e75911 = L.marker(
                [52.5164069, 13.3784162],
                {}
            ).addTo(map_d7fd5f5a73bf478eaff2c87b25c0b115);
        
    
            var icon_75f154b26ea347caaf978c144b0e7656 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d8285429e88f447fab30b88925e75911.setIcon(icon_75f154b26ea347caaf978c144b0e7656);
        
    
        var popup_f936d56a053a4141ad855d4832aeb8f5 = L.popup({"maxWidth": "100%"});

        
            var html_2f17168b2d144d2882b62e56f7bc08db = $(`<div id="html_2f17168b2d144d2882b62e56f7bc08db" style="width: 100.0%; height: 100.0%;">Brandenburger Tor</div>`)[0];
            popup_f936d56a053a4141ad855d4832aeb8f5.setContent(html_2f17168b2d144d2882b62e56f7bc08db);
        

        marker_d8285429e88f447fab30b88925e75911.bindPopup(popup_f936d56a053a4141ad855d4832aeb8f5)
        ;

        
    
    
            marker_d8285429e88f447fab30b88925e75911.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2ae6e4a681af4f8b9d4372dd399d49c1 = L.marker(
                [52.50689774, 13.43692025],
                {}
            ).addTo(map_d7fd5f5a73bf478eaff2c87b25c0b115);
        
    
            var icon_6535dd310b0a43ce8e7d950de661d86b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2ae6e4a681af4f8b9d4372dd399d49c1.setIcon(icon_6535dd310b0a43ce8e7d950de661d86b);
        
    
        var popup_dc156ac5efbe4c5d92e4d2e8a740da69 = L.popup({"maxWidth": "100%"});

        
            var html_f0a2e373a37e46c58194e77873f5faa2 = $(`<div id="html_f0a2e373a37e46c58194e77873f5faa2" style="width: 100.0%; height: 100.0%;">Berliner Mauer</div>`)[0];
            popup_dc156ac5efbe4c5d92e4d2e8a740da69.setContent(html_f0a2e373a37e46c58194e77873f5faa2);
        

        marker_2ae6e4a681af4f8b9d4372dd399d49c1.bindPopup(popup_dc156ac5efbe4c5d92e4d2e8a740da69)
        ;

        
    
    
            marker_2ae6e4a681af4f8b9d4372dd399d49c1.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3e3c8f9510a046969796c45e278c1bc8 = L.marker(
                [52.5528899, 13.2910508],
                {}
            ).addTo(map_d7fd5f5a73bf478eaff2c87b25c0b115);
        
    
            var icon_1ebde81d05c04557a48048c885dfc17b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_3e3c8f9510a046969796c45e278c1bc8.setIcon(icon_1ebde81d05c04557a48048c885dfc17b);
        
    
        var popup_1ed69c55c3014a16bfc0c63322374699 = L.popup({"maxWidth": "100%"});

        
            var html_dc2b198d06674bd49c494217b583ea82 = $(`<div id="html_dc2b198d06674bd49c494217b583ea82" style="width: 100.0%; height: 100.0%;">Flughafen Berlin Tegel</div>`)[0];
            popup_1ed69c55c3014a16bfc0c63322374699.setContent(html_dc2b198d06674bd49c494217b583ea82);
        

        marker_3e3c8f9510a046969796c45e278c1bc8.bindPopup(popup_1ed69c55c3014a16bfc0c63322374699)
        ;

        
    
    
            marker_3e3c8f9510a046969796c45e278c1bc8.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
</script>