<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8d20b594916a449b9e15fb4952dd44e5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8d20b594916a449b9e15fb4952dd44e5" ></div>
        
</body>
<script>    
    
            var map_8d20b594916a449b9e15fb4952dd44e5 = L.map(
                "map_8d20b594916a449b9e15fb4952dd44e5",
                {
                    center: [47.2063113, 11.4171671],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a815d7e5ca604e28adc6b26d022e58b9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8d20b594916a449b9e15fb4952dd44e5);
        
    
            var marker_2f0adba0d1324f738785119eabe539f2 = L.marker(
                [47.2052895, 11.4117958],
                {}
            ).addTo(map_8d20b594916a449b9e15fb4952dd44e5);
        
    
            var icon_01382a045293453eb2138a7b1afa8bd5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2f0adba0d1324f738785119eabe539f2.setIcon(icon_01382a045293453eb2138a7b1afa8bd5);
        
    
        var popup_a62ee49ea2894864b39c3cc197f836cd = L.popup({"maxWidth": "100%"});

        
            var html_e131ed6dbe18409193ff1d2673ee5622 = $(`<div id="html_e131ed6dbe18409193ff1d2673ee5622" style="width: 100.0%; height: 100.0%;">Hier mäht demnächst der Luba 2!</div>`)[0];
            popup_a62ee49ea2894864b39c3cc197f836cd.setContent(html_e131ed6dbe18409193ff1d2673ee5622);
        

        marker_2f0adba0d1324f738785119eabe539f2.bindPopup(popup_a62ee49ea2894864b39c3cc197f836cd)
        ;

        
    
    
            marker_2f0adba0d1324f738785119eabe539f2.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
</script>